@use 'styles/variables';
@use 'styles/mixins';
@use 'styles/base';
@use 'styles/typography';
@use 'styles/buttons';
@use 'styles/cards';
@use 'styles/spacing';
@use 'styles/animations';
@use 'styles/utilities';
@use 'styles/lite';
@use 'styles/responsive';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar-brand {
  .brand-name-l {
    color: #fff;
    font-weight: 500;
  }

  .tech {
    color: #d100ff;
  }
  .app-footer__logo {
      
      width: 50px;
  }
}